.grid-container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto ;
    background-color: #f5f5f5;
    font-family: "Montserrat";
    color: #454B1B	;
    font-weight: bold;

}
.header{
    font-size: 15px;
    color: #454B1B	;

    margin-bottom: 40px;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.div{
    text-align: center;
}

.left{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.right{

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.main{

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: 13px;
    min-height: calc(100vh - 166px - 15px - 121px); /* viewport height- header- footer- margin top and bottom */
    margin: 0px 90px 0px 90px;

}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#2b6777 ;
    color: white;
    margin-top: 80px;


}


input[type=text], input[type= password], select, textarea {
    width: 25%;
    padding: 7px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 15%;
    padding: 6px 15px;
    margin: 4px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

}

.kanban-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kanban-heading-text {

    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

#todo {
    background-color: white;
    border: solid black 2px;
}

#inprogress {
    background-color: white;
    border: solid black 2px;
}

#done {
    background-color: white;
    border: solid black 2px;
}

.kanban-block {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
}

.kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.task {
    background-color: white;
    margin: 0.2rem 0rem 0.3rem 0rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b6777;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #00003b;
}
.foot{
    margin-left: 40px;
}

.logo{
    margin-left: 40px;
}

.login-form{
    text-align: center;
}

.float-right{
    float: right;
    margin-right: -80px;
}

.float-left{
    float: left;
    margin-left: 130px;
}

.left-half-inputs{
    width: 100%
}

.create-event-form{
    padding: 5px;
}
